/* $Id: og_profiles.css,v 1.1 2008/07/29 08:39:09 henrysearle Exp $ */

#profile-fields td.category {
  font-weight: bold;
}
#profile-fields tr.category-message {
  color: #999;
}
#profile-fields tr.category-populated {
  display: none;
}
